<div class="container">

    <h4 class="text-center">About Application</h4>
<div class="user-guide-main-text">
    <span>
        The transport officials from Bangalore plan to implement a payment system for public metro transport using a prepaid NFC-enabled card,
         BLRCard. Each metro station has been assigned to a zone, with Zone 1 being the central area and Zone 2 forming a concentric ring around Zone 1. 
         The fares are calculated based on peak and off-peak hours, and a fare capping system is also in place. The problem statement is to design the fare calculation engine 
         for BLRCard. Given a list of journeys, the program should return the fare applicable. The fare calculation engine should take into account the zone, the time of travel,
          and the fare capping rules to determine the fare for each journey.
        </span>
</div>

<div class="user-guid-main-container">

   <li>
 Start by entering your travel details including the starting point (from), destination (to), date  and time of travel.
</li>
     <li>    The tool will automatically determine whether it is peak or off-peak hours based on the inputted date and time.

   </li>


   <li>
     The tool will calculate the ride cost based on the starting point and destination.
   </li>
    <li>
         This use a pre-defined algorithm to determine the cost based on distance and time traveled.
    </li>
<div class="image-container">
    <img  src="../../assets/metro-user-input.png"   class="image-style" />

    <img  src="../../assets/metro-user-daily-cap.png"   class="image-style" />
    <img  src="../../assets/metro-user-weekly-cap.png"   class="image-style" />

</div>
    <li>
        The tool will calculate the daily cap and weekly cap based on the pricing structure. These are limits on the amount that a user can be charged for rides within a given time period.
    </li>
    <li>
     Commuter can get Fare Free travel after reaching daily/weekly fair cap.
   </li>
   <li><a href="https://github.com/naveenaithal/metro-fare-calculator">Git Hub Repository </a></li>
<div class="note-container">
    <span class="note-title">Note:</span> <span class="note-content"> By Default Application Provided with Dummy Data Press On Mock Data Button to Add into Travel List</span>

</div>
   

</div>
    </div>